@{
    ViewBag.Title = "Contact";
}
<h3><a href="https://github.com/step1041">My Github!</a></h3>
<address>
    5733 25th Sideroad <br />
    Utopia Ontario L0M 1T0<br />
    <abbr title="Phone">P:</abbr>
    705.734.7121
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:steve.wiggins7@gmail.com">Stephen.wiggins7@gmail.com</a><br />
</address>
