@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Stephen's Awesome Courses</h3>
     <p class="lead"> Welcome to Stephen's college of awesome. This site allows a user to keep track of the courses that are avalible. <strong>Courses Must be awesome to qualify.</strong> </p>   
</div>